.person {
  display: flex;
  margin: 1rem 0 1.5rem 0 !important;

  @media only screen and (max-width: 600px) {
    display: block;
    margin: 1rem 0 0 0;
  }
}

.intro {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;

  @media only screen and (max-width: 600px) {
    display: block;
    margin: 1rem 0 0 0 !important;
  }
}

.img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  max-width: 100%;

  &__link {
    height: 3rem;
  }
}

.name {
  font-size: 1rem;
  margin: 0;
}

.subtitle {
  margin-top: 0.25rem;
}
