:root {
    --font-size-list: 0.85rem;
    --font-size-base: 0.8rem;
    --font-color-topic-header: #495057;
    --font-color-topic-date: hsl(227, 2%, 64%);
}

html{
    overflow-y: scroll;
}

html::-webkit-scrollbar{
    width: 14px;
    background-color: #ffffff;
    outline: 1px solid #ffffff;
}

html::-webkit-scrollbar-thumb{
    background-color: #5f5f5f;
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
}
